@model IEnumerable<MaatJaKaupungit.Models.Maat>

@{
    ViewBag.Title = "Index";
}

<h2>Maiden listaus</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.maaNimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.asukasluku)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.maaNimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.asukasluku)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.maaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.maaId })
        </td>
    </tr>
}

</table>
